#container
#header
  #header_text.row.row_12
    h1 Luiz Lopes
    h2(title='Someone who develops Web Applications') Web Application Developer
#body
  #main.row.row_4_8
    #main_left.column.grid_8.bio
      h3 Oi!
      p
        | I'm
        span.fn Luiz Lopes
        | , a web application developer living in
        span#home.adr
          span.locality Orlando, Florida
        | .
        |  I build web applications powered by
        a(href='http://php.net', rel='nofollow', title='Hypertext Preprocessor') PHP
        | ,  and
        a(href='https://developer.mozilla.org/en/JavaScript', rel='nofollow', title='The scripting language of the web') Javascript
        | ,  using libraries like
        a(href='http://jquery.com', rel='nofollow', title='fast and concise JavaScript Library') jQuery
        | ;  and
        a(href='http://en.wikipedia.org/wiki/Model%E2%80%93view%E2%80%93controller', rel='nofollow', title='Model-View-Controller') MVC Frameworks
        |  such as
        a(href='http://cakephp.org/', title='rapidly develop robust web applications', rel='nofollow') CakePHP
        |  and
        a(href='http://framework.zend.com/', title='Zend Framework', rel='nofollow') ZF
        | .
        |  I work at
        a.org.url(href='http://www.avectralabs.com', title='AvectraLabs', rel='nofollow') Avectra, Inc.
        |  in the
        em Labs
        |  department.
        br
        | You can usually find me at the
        a.group(href='http://www.meetup.com/orlandophp/', title='Orlando PHP MeetUp') Orlando PHP User Group
        |  meetings, or away from the computer swimming, biking or running around Orlando.
    
    #main_right.column.grid_4
      h3 Latest Activity
      .tweet
        
#footer
  #footer_inner.row.row_12
    p.right
      a.blue.button.url(href='http://blog.wickeddeveloper.com/', title='My random ramblings', rel='blog') Blog
      a.green.button.url(href='http://twitter.com/theprivileges', rel='me', title='Follow me on Twitter') Twitter
      a.orange.button.url(href='http://www.linkedin.com/in/luizlopes/', rel='me', title='Find me on LinkedIn') LinkedIn
      a.red.button.url.uid(href='https://launchpad.net/~luizlopes', rel='me', title='Launchpad Profile') Launchpad
      a.black.button.url(href='https://github.com/theprivileges', rel='me', title='github repository') GitHub
#copyright.row.row_12
  p
    a.url(href='http://wickeddeveloper.com', rel='me', title='Web Application Developer') Luiz Lopes
    |  © 2011
    | -
    a.email(href='mailto:luizlopes@gmail.com', title='Contact me via Email') Contact me
