#container
#header
  #header_text.row.row_12
    h1 Luiz Lopes
    h2.role(title='Someone who develops Web Applications') Web Application Developer
#body(itemscope, itemtype="http://schema.org/Person")
  #main.row.row_4_8
    #main_left.column.grid_8.bio
      h3 Oi!
      p
        | I'm 
        span.fn(itemprop="name") Luiz Lopes
        | , a 
        span(itemprop="jobTitle") web application developer 
        | living in 
        span#home.adr.locality(itemprop="address", itemscope, itemtype="http://schema.org/PostalAddress")
            span(itemprop="addressLocality") Philipsburg
            |, 
            span(itemprop="addressRegion", title="MT") Montana
        | .
        |  I build web applications powered by 
        a(href='http://php.net', rel='nofollow', title='Hypertext Preprocessor') PHP
        | , and 
        a(href='https://developer.mozilla.org/en/JavaScript', rel='nofollow', title='The scripting language of the web') Javascript
        | ,  using libraries like
        a(href='http://jquery.com', rel='nofollow', title='fast and concise JavaScript Library') jQuery
        | , 
        a(href='http://backbonejs.org/', rel='nofollow', title='single page web app library') Backbone.js
        | ;  and 
        a(href='http://en.wikipedia.org/wiki/Model%E2%80%93view%E2%80%93controller', rel='nofollow', title='Model-View-Controller') MVC Frameworks
        |  such as 
        a(href='http://framework.zend.com/', title='Zend Framework', rel='nofollow') Zend Framework
        | .
        |  I work as a 
        em(itemprop="affiliation") Contractor 
        | for 
        a.org.url(href='http://appendto.com', title='jQuery, HTML5, JavaScript, Mobile & Design Experts', rel='nofollow', itemprop="worksFor") AppendTo
        | .
      p
        | If I am not on the computer, you can usually find me around 
        a.group(href='http://www.flickr.com/photos/theprivileges/collections/72157629506400500/', title='Big Sky Country') Montana
        | , or playing 
        a(href='http://us.playstation.com/playstation/psn/visit/profiles/theprivileges', title='Playstation Network') PS3
        |.
      p
        | If you have a cool project, and need web development help, I am currently available 
        | for new projects. Simply 
        a.email(href='mailto:luiz@wickeddeveloper.com', title='Work with me.') e-mail me 
        | with the details.
    
    #main_right.column.grid_4
      a.twitter-timeline( data-dnt='true', href="https://twitter.com/theprivileges", data-widget-id='287629206614056960', width='278')
      script(type='text/javascript')
        !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");

        
#footer
  #footer_inner.row.row_12
    p.right
      a.blue.button.url(href='http://blog.wickeddeveloper.com/?utm_source=wickeddeveloper&amp;utm_medium=link&amp;utm_content=blog&amp;utm_campaign=profiles', title='My random ramblings', rel='blog') Blog
      | 
      a.orange.button.url(href='http://www.linkedin.com/in/luizlopes/', rel='me', title='Find me on LinkedIn') LinkedIn
      | 
      a.red.button.url.uid(href='https://launchpad.net/~luizlopes/', rel='me', title='Launchpad Profile') Launchpad
      | 
      a.black.button.url(href='https://github.com/theprivileges/', rel='me', title='github repository') GitHub
      | 
      a.green.button.url(href='http://stackoverflow.com/users/403434/theprivileges', rel='me', title='Stackoverflow Profile') Stackoverflow
#copyright.row.row_12
  p
    a.url(href='http://wickeddeveloper.com/?utm_source=wickeddeveloper&amp;utm_medium=link&amp;utm_content=luizlopes&amp;utm_campaign=profiles', rel='me', title='Web Application Developer') Luiz Lopes
    |  © 2013
    | - 
    a.email(href='mailto:luiz@wickeddeveloper.com', title='Contact me via Email', itemprop="email") Contact me
