!!! 5
html(lang='en_US')
  head
    meta(charset='UTF-8')
    meta(name="DC.title", content= title)
    meta(name="geo.region", content="US-FL")
    meta(name="geo.placename", content="Orlando")
    meta(name="geo.position", content="28.502781;-81.330624")
    meta(name="ICBM", content="28.502781, -81.330624")
    meta(name="author", content="Luiz Lopes")
    meta(name="description", content="The website of Luiz Lopes, a web application developer, and athlete; living in Orlando,FL.")
    meta(name="copyright", content="2012")
    meta(name="robots", content="all")
    meta(name="alexaVerifyID", content="7Xwr41o_p46Z4AwQzb5budwj2_Q")
    meta(name="y_key", content="749c6585a123648b")
    meta(name="google-site-verification", content="EW4BrohH7PiKOhJp8BUO8ZBNl5WC0juDu6SEFz0veNg")
    meta(name="keywords", content="luiz lopes, web application developer, javascript, php developer, entrepreneur, theprivileges, web developer, cakephp, jquery, triathlete, zend framework")
    meta(property="og:url", content="http://wickeddeveloper.com")
    meta(property="og:type", content="website")
    meta(property="og:title", content= title)
    meta(property="og:site_name", content="WickedDeveloper.com")
    meta(property="og:locale", content="en_US")
    meta(property="og:image", content="https://twimg0-a.akamaihd.net/profile_images/540205374/luiz_lopes.jpg")
    title= title 
    link(rel="profile", href="http://microformats.org/profile/hcard")
    link(rel="alternate", type="application/rss+xml", title="RSS 2.0", href="http://feeds2.feedburner.com/theprivileges?format=xml")
    link(rel="alternate", type="application/atom+xml", title="Atom 1.0", href="http://feeds2.feedburner.com/theprivileges?format=atom")
    link(rel="Shortcut Icon", type="image/x-icon", href="http://www.ig.gmodules.com/ig/proxy//http://3.media.tumblr.com/avatar_032aa94befe3_16.png")
    link(rel="stylesheet", href="http://fonts.googleapis.com/css?family=Lobster")
    link(rel="stylesheet", href="http://fonts.googleapis.com/css?family=Josefin+Sans+Std+Light")
    link(rel="openid.server", href="https://login.launchpad.net/+openid")
    link(rel="openid.delegate", href="https://login.launchpad.net/+id/3wFHxRf")
    link(rel="openid2.provider", href="https://login.launchpad.net/+openid")
    link(rel="openid2.local_id", href="https://login.launchpad.net/+id/3wFHxRf")
    meta(http-equiv="X-XRDS-Location", content="https://login.launchpad.net/+id/3wFHxRf/+xrds")
    link(rel='stylesheet', href='/stylesheets/style.css')
    //if IE
      link(rel='stylesheet', type='text/css', href='http://www.ig.gmodules.com/ig/proxy//http://wickeddeveloper.com/stylesheets/ie.css')
  body#luiz.vcard!= body

    script(type='text/javascript')
      //<![CDATA[
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
      //]]>
    
    script(type='text/javascript')
      //<![CDATA[
      try {
      var pageTracker = _gat._getTracker("UA-360787-4");
      pageTracker._trackPageview();
      }
      catch (err) {
      }
      //]]>
    
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js', type='text/javascript')
      
    script(src='/javascripts/jquery.tweet.min.js', type='text/javascript')
      
    script(type='text/javascript')
      //<![CDATA[
      var resetLinks;
      
      $(document).ready(function (){
        "use strict";
        $(".tweet").tweet({
          username    : "theprivileges",
          join_text   : "auto",
          count       : 3,
          loading_text: "loading activity..."
        });
        // letting the user know he clicked on a button
        $("a.button").live("click", function (){
          "use strict";
          $(this).text(function (index, text){
              // in case the user opend the link in a tab, this will make sure the site goes back to normal
              window.setTimeout(resetLinks, 2000, this, text);
              return "Loading\\u2026";
            }
          );
        });
      });
      // reset the link to original text
      resetLinks = function (element, text) {
        "use strict";
        return $(element).text(text);
      };
