#header
  background: #000000;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"
  zoom 1 //set "zoom", "width" or "height" to trigger "hasLayout" in IE 7 and lower

#footer
  background: #CED902;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)"
  zoom 1 //set "zoom", "width" or "height" to trigger "hasLayout" in IE 7 and lower

.button:hover
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)"
