#header
  -ms-filter "alpha(opacity=50)" // IE 8
  zoom 1 //set "zoom", "width" or "height" to trigger "hasLayout" in IE 7 and lower

#footer
  -ms-filter "alpha(opacity=80)" // IE 8
  zoom 1 //set "zoom", "width" or "height" to trigger "hasLayout" in IE 7 and lower
