box-sizing()
    -webkit-box-sizing: arguments
    -moz-box-sizing: arguments
    box-sizing: arguments

box-shadow()
    -webkit-box-shadow: arguments
    -moz-box-shadow: arguments
    box-shadow: arguments

border-radius()
    -webkit-border-radius: arguments
    -moz-border-radius: arguments
    border-radius: arguments


html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td
  border: 0 none
  margin: 0
  outline-color: -moz-use-text-color
  outline-style: none
  outline-width: 0
  padding: 0
  box-sizing: border-box

*
  margin: 0
  padding: 0

body
  background: #242424 url(http://dl.dropbox.com/u/4965/bg.jpg) repeat-x top left
  color: #FFF
  font: normal normal 1.0em/1.5em Tahoma, Arial, Helvetica, Verdana, sans-serif

h1
  font-size: 4.4em
  font-weight: normal

h2
  font-size: 2.8em
  font-weight: bold

h3
  font-size: 1.6em
  font-weight: bold

h1
  font: normal normal normal 4.4em 'Lobster', Tahoma, Arial, Helvetica, Verdana, sans-serif

h2
  font: normal normal normal 2.8em 'Josefin Sans Std Light', Tahoma, Arial, Helvetica, Verdana, sans-serif
  color: #717032
  margin: 5px 0

h3
  font: normal small-caps normal 1.6em/1em Tahoma, Arial, Helvetica, Verdana, sans-serif
  color: #717032

a, a:link, a:visited
  outline-color: -moz-use-text-color
  outline-style: none
  outline-width: 0
  text-decoration: underline
  color: #00B7FF

a:hover
  text-decoration: underline
  color: #858B0F

#container
  padding: 10px auto
  margin: 0.6em auto

#header
  color: rgb(255, 255, 255, 0.8)
  background: rgba(0, 0, 0, 0.4)

#body
  margin: 0
  padding: 0
  background: #FFF

#main
  padding: 30px 0
  text-align: left
  color: #666

#main_left
  text-align: justify
  padding-right: 20px
  border-right: 1px dashed #A2A39E

#main_left p
  font: normal normal normal 1.5em/1.5em Tahoma, Arial, Helvetica, Verdana, sans-serif

#footer
  padding: 20px
  color: #555242
  background: rgba(205, 216, 2, 0.8)
  border-top: 3px #CCC solid

#copyright
  margin: 10px auto 0px auto
  display: block

#copyright p
  text-align: center
  font: normal normal 1.0em/1.2em Tahoma, Arial, Helvetica, Verdana, sans-serif

#copyright a,
#copyright a:link
  color: #FFF
  text-decoration: none

#copyright a:hover
  text-decoration: underline

.tweet
  font: normal normal italic 1.0em/1.2em Tahoma, Arial, Helvetica, Verdana, sans-serif

.tweet .tweet_list
  list-style-type: none
  margin: 0
  padding: 0

.tweet .tweet_list li
  overflow: auto
  padding: .5em

.tweet .tweet_list li a
  color: #1883DE
  text-decoration: none

.column
  margin: 0 10px
  overflow: hidden
  float: left
  display: inline

.row
  width: 960px
  margin: 0 auto
  overflow: hidden

.row .row
  margin: 0 -10px
  width: auto
  display: inline-block

.grid_12
  width: 940px

.grid_8
  width: 620px

.grid_4
  width: 300px

.row_12, .row_4_8
  display: block

.small
  font-size: large

.right
  float: right
  text-align: right

a.button
  background: #222
  display: inline-block
  padding: 5px 10px 6px
  color: #fff
  font: normal normal bold 2em/1em 'Lobster', Tahoma, Arial, Helvetica, Verdana, sans-serif
  text-decoration: none
  border-radius: 5px
  box-shadow: 0 1px 3px #999
  text-shadow: 0 -1px 1px #222
  border-bottom: 1px solid #222
  position: relative
  cursor: pointer
  -moz-user-select: -moz-none
  -webkit-user-select: none
  user-select: none

.button:hover
  opacity: 0.8
  color: #fff

.button:active
  border-bottom: none
  box-shadow: none

.blue.button
  background-color: #1883DE

.green.button
  background-color: #858B0F

.orange.button
  background-color: #A51812

.red.button
  background-color: #8B0E08

.black.button
  background-color: #000000

